html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #9fe9be;
}

header {
  background-color: #f8f9fb;
  font-family: 'Roboto Mono', monospace;
  color: #333;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-content img {
  height: 3rem;
  transform: translateY(3px);
}

.header-content h1 {
  font-size: 2.5rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.library {
    width: 100%;
    padding: 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 6px;
    background-color: #f8f9fb;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
  }
  
th,
td {
    text-align: left;
}
  
th {
    /* background-color: #ffffff; */
    padding: 0 16px 16px;
}

td {
  padding: 16px;
  background-color: #ffffff;
}

tbody tr {
  border-radius: 6px;
  box-shadow: 0 0 0 1px #e3e3e5;
}
  
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr td:nth-child(1), th:nth-child(1) {
  border-radius: 6px 0 0 6px;
}

tbody tr td:nth-last-child(2), th:nth-last-child(2) {
  display: flex;
  align-items: center;
}

tbody tr td:nth-last-child(1), th:nth-last-child(1) {
  border-radius: 0 6px 6px 0;
}

tbody tr:hover {
  background-color: #e9e9e9;
  box-shadow: 0 0 0 1px #2067ec;
}

button {
  cursor: pointer;
  border: none;
  background-color: none;
  background: transparent;
}

.btn {
  display: grid;
  place-content: center;
}

.btn:hover {

}

.add-btn {
  width: 50px;
  height: 50px;
  margin: 0 0 0 auto;
  font-size: 1.5rem;
  color: white;
  border-radius: 50px;
  background-color: #9fe9be;
  box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#addBookBtn:before {
  content: '\FF0B';
}

.add-btn:hover {
  box-shadow: 0 0 0 1px #2067ec;
}

.removeBtn {
  width: 26px;
  height: 26px;
  border-radius: 3px;
}

.removeBtn:hover {
  border: 1px solid #2067ec;
}

.removeBtn img {
  width: 25px;
  height: 25px;
}

label, span {
  margin: 0 0.3rem;
  padding: 0;
}

.checkbox {
  display: none;
}

.checkbox-custom {
  display: block;
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 3px;
  background: url(assets/checkbox-blank.svg);
  background-color: white;
}

.checkbox-custom:hover {
  border: 1px solid #2067ec;
}

.checkbox:checked + .checkbox-custom::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: -1px;
  right: 0px;
  bottom: 0px;
  left: -1px;
  border-radius: 3px;
  background: url(assets/checkbox-marked.svg);
  background-color: white;
}

.checkbox:checked + .checkbox-custom:hover::before {
  border: 1px solid #2067ec;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 20px;
  border-radius: 6px;
  background-color: #f8f9fb;
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
  display: block;
}

/* .h-divider {
  width: calc(100% - 50px);
  height: 2px;
  background-color: #9fe9be;
} */